@font-face {
    font-family: TomaSans;
    src: url(TomaSans-Bold.ttf);
}

@font-face {
    font-family: TomaSans;
    src: url(TomaSans-Regular.ttf);
}

@font-face {
    font-family: Leiko;
    src: url(Leiko-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#nav {
    z-index: 9999;
    position: fixed;
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
    color: #F2E4D1;

}

#nav1 {
    position: relative;
    height: 20px;
    width: 40px;
    overflow: hidden;
}

.t1 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all cubic-bezier(0.19, 1, 0.22, 1).5s;
}

.t2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 10px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1).5s;

}

#nav2 {
    position: relative;
    height: 20px;
    width: 140px;
    overflow: hidden;
}

#nav1:hover .t1 {
    top: 40%;
}

#nav2:hover .t1 {
    top: 35%;
}

#nav1:hover .t2 {
    top: -30%;
}

#nav2:hover .t2 {
    top: -30%;
}

#page1 {
    overflow: hidden;
    position: relative;
    padding-left: 12vw;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #E5E4D1;
    background-color: #1A1A17;
}

.world {
    width: 50%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.world h5 {
    font-size: 1.3vw;
    font-family: TomaSans;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3vh;
}

.world h1 {
    font-size: 3vw;
    font-family: Leiko;
    font-weight: 500;
    /* text-transform: uppercase; */

}

.world h6 {
    font-size: 1.3vw;
    font-family: TomaSans;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10vh;
    align-items: center;
}
.world h6 span{
    width: 100px;
    height: 2px;
    background-color: white;
}
#whisky{
    position: relative;
    width: 50%;
    /* background-color: yellow; */
    height: 100vh;
}
#whiskyimg{
    position: absolute;
    left: -50%;
   height: 130vh; 
   width: 80%;
   /* background-color: pink; */
}
#whiskyimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


#page2 {
    width: 100%;
    height: 100vh;
    padding: 2vw 0vw;
    display: flex;
    background-color: #1A1A17;


}

#p2right {
    height: 90vh;
    width: 50%;
    object-fit: cover;
}

#p2right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#p2left {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E4D1;

}

#page3 {
    padding: 2vw 0vw;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: red; */
}

#text {
    text-align: center;
}

#text h5 {
    font-size: 1.2vw;
    font-family: TomaSans;
    margin-bottom: 1.8vh;
}

#text h1 {
    font-size: 2.8vw;
    font-weight: 500;
    font-family: Leiko;
    margin-bottom: 6vh;
}

#see {
    font-family: TomaSans;
    position: relative;
    display: inline-block;
    height: 30px;
    width: 150px;
    /* background-color: yellow; */
    margin-bottom: 5vh;
    border: 1px solid black;
    overflow: hidden;

}

#s1 {
    font-size: 1.1vw;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1).5s;
}

#s2 {
    font-size: 1.1vw;
    position: absolute;
    top: 150%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-transform: uppercase;
    transition: all cubic-bezier(0.19, 1, 0.22, 1).5s;
}

#see:hover #s1 {
    top: -50%;
}

#see:hover #s2 {
    top: 50%;
}

#images {
    padding: 0vw 2vw;
    position: relative;
    height: 90vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    /* background-color: PINK; */
}

.img {
    position: relative;
    width: 20vw;
    height: 100%;
    position: relative;
    /* background-color: red; */
}

.img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail {
    position: absolute;
    /* z-index: 99999; */
    height: 10vw;
    width: 15vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    bottom: 10%;
    opacity: 0;
    border: 1px solid rgb(164, 160, 160);
    transition: all ease .5s;
}

.detail h4 {
    font-size: 10px;
    text-transform: uppercase;
    font-family: TomaSans;
    border-bottom: 1px solid black;
}

.detail h1 {
    font-size: 20px;
    text-transform: capitalize;
    font-family: Leiko;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;

}

.detail h5 {
    font-size: 10px;
    text-transform: uppercase;
    font-family: TomaSans;
}

.img:hover .detail {
    opacity: 1;
}

#page4 {
    width: 100%;
    height: 100vh;
    padding: 8vw;

}

#top h5 {
    font-size: 1vw;
    font-family: TomaSans;
    text-transform: uppercase;
}

#top h1 {
    font-size: 2vw;
    font-family: Leiko;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10vh;
}

#btm {
    width: 100%;
    height: 60vh;
    /* background-color: yellow; */
    display: flex;
    border-top: 1px solid black;
}

#btm1 {
    width: 50%;
    height: 100%;
    padding: 3vw 0vw;
    /* background-color: red; */
}

#btm1 h5 {
    font-size: 1.2vw;
    font-family: Tomasans;
    text-transform: uppercase;
}

#btm1 h1 {
    font-size: 3vw;
    font-family: Leiko;
    margin: 4vh 0vh;
}

#login {
    display: flex;
    align-items: center;
    margin-bottom: 10vh;

}

#login input {
    padding: 1vh 2vh;
    border: none;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    margin-right: 20px;
}

#log {
    position: relative;
    height: 30px;
    width: 160px;
    /* background-color: red; */
    overflow: hidden;
    text-transform: uppercase;
    border: 1px solid #000;
    font-family: TomaSans;
    font-size: 1vw;
}

#l1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}

#l2 {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

#login:hover #l1 {
    top: -50%;
}

#login:hover #l2 {
    top: 50%;
}

#follow {
    /* text-decoration: none; */
    display: flex;
    align-items: center;
    gap: 3vh;
}

#follow h2 {
    font-size: 1.3vw;
    font-family: Tomasans;
    text-transform: uppercase;

}

#follow a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

#btm2 {
    width: 50%;
    height: 100%;
    padding: 3vw 0vw;
    /* background-color: green; */
}

#btm2 h1 {
    font-size: 2vw;
    font-family: Leiko;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 4vw;
}

#last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    font-family: Tomasans;
    text-transform: uppercase;
    font-size: .7vw;
}






/* responsive code */

@media (max-width:600px) {
    #nav {
        padding: 3vh 1vh;
    }

    #page2 {
        flex-direction: column;

    }

    #p2right {
        width: 90%;
        height: 100vh;
        padding: 5vh 0vh;
    }

    #p2left {
        width: 100%;
        height: 52vh;
        /* background-color: red; */
    }
    #page1{
        flex-direction: column-reverse;
    }
    .world {
        width: 80%;
        height: 100vh;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .world h1 {
        font-size: 8vw;
    }

    .world h5 {
        font-size: 3.5vw;
    }

    .world h6 {
        font-size: 4.3vw;
        margin-top: 5vh;
    }
    #whiskyimg{
        position: absolute;
        left: -30%;
        top: 0;
        scale: 1.2;
        height: 65vh; 
        width: 100%;
       /* background-color: pink; */
    }
    #whiskyimg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
    

    #btm {
        flex-direction: column;

    }
    #text{
        padding-top: 5 vh;
    }

    #text h5{
        font-size: 3.5vw;
    }
    #text h1{
        font-size: 5.5vw;
        margin-bottom:2.4vh ;
    }
    #see {
        margin-bottom: 5vh;
        border: 1px solid black;
        overflow: hidden;
    
    }
    
    #s1 {
        font-size: 1.3vh;
    }
    
    #s2 {
        font-size: 1.3vh;

    }
    #images {
        padding: 0vw 2vw;
        position: relative;
        height: 90vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        /* background-color: PINK; */
    }
    
    .img {
        position: relative;
        width: 25vw;
        height: 60%;
        position: relative;
        /* background-color: red; */
    }
    
    .img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .detail {
       display: none;
    }


    #page4 {
        width: 100%;
        height: 100vh;
        padding: 3vh;

    }

    #top h5 {
        font-size: 3vh;
    }

    #top h1 {
        font-size: 4vh;
        font-family: Leiko;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10vh;
    }

    #btm1 {
        width: 100%;
        height: 100%;
        padding: 3vw 0vw;
        /* background-color: red; */
    }

    #btm1 h5 {
        font-size: 2vh;
        font-family: Tomasans;
        text-transform: uppercase;
    }

    #btm1 h1 {
        font-size: 6vw;
        font-family: Leiko;
        margin: 4vh 0vh;
    }

    #login {
        display: flex;
        align-items: center;
        margin-bottom: 10vh;
        flex-direction: column;

    }

    #login input {
        padding: 1vh 1vh;
        border: none;
        border-bottom: 1px solid black;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    #log {
        position: relative;
        height: 30px;
        width: 160px;
        /* background-color: red; */
        overflow: hidden;
        text-transform: uppercase;
        border: 1px solid #000;
        font-family: TomaSans;
        font-size: 1.5vh;
        margin-right: 20px;
    }

    #follow {
        /* text-decoration: none; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vh;
    }

    #follow h2 {
        font-size: 2vh;

    }

    #follow a {
        font-size: 3vh;
    }

    #btm2 {
        width: 100%;
        height: 100%;
        padding: 3vw 0vw;
        /* background-color: green; */
    }

    #btm2 h1 {
        font-size: 3vh;
        font-family: Leiko;
        text-transform: capitalize;
        font-weight: 500;
        line-height: 3.3vh;
    }

    #last {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5vh;
        font-family: Tomasans;
        text-transform: uppercase;
        font-size: .7vh;
    }
}